html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 11rem;
	overflow-x: hidden;
}

body,
[type='submit'] {
	font-size: 1.6rem;
	font-family: var(--font-family-raleway);
	background-color: var(--color-background);
	color: var(--color-text);
	border: 0;
}

.container {
	margin: 0 auto;
	max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
	padding-inline: var(--gutter);
}

.video-loop {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.08;
	z-index: -1;
}

.section {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: start;
	margin-bottom: 11rem;
}

.section--with-bg {
	padding: 11rem 0;
	box-shadow: 0 0 0 100vmax var(--color-grey);
	clip-path: inset(0 -100vmax);
}

.h2-heading {
	font-size: var(--font-size-65);
	font-weight: var(--font-weight-bold);
	grid-column: 1/-1;
	margin-bottom: 8.7rem;
	text-transform: uppercase;
}

.h3-heading {
	font-size: var(--font-size-38);
	font-weight: var(--font-weight-bold);
	margin-bottom: 2.5rem;
}
