.header {
	padding: 3rem 0;
	margin-bottom: 11rem;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	background-color: var(--color-background);
	z-index: 2;
}

.header::before {
	content: '';
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100vw;
	border-bottom: 0.1rem solid var(--color-input-border);
	background-color: var(--color-background);
	top: 0.1rem;
}

/* Navigation */
.navigation {
	transition: top var(--transition-timing);
	background-color: var(--color-background);
}

.navigation__list {
	display: flex;
	gap: 2rem;
}

.navigation__link:is(:link, :visited) {
	text-decoration: none;
	font-weight: var(--font-weight-medium);
}

.navigation__link:is(:hover, :active) {
	text-decoration: underline;
	color: var(--color-text);
}

.navigation__link.active-link {
	color: var(--color-blue);
	text-decoration: underline;
	font-weight: var(--font-weight-bold);
}

/* Toggle button */
.toggle {
	display: flex;
	gap: 1.2rem;
	margin-left: auto;
}

.toggle__title {
	font-weight: var(--font-weight-medium);
	font-size: var(--font-size-18);
}

.toggle__label {
	display: block;
	position: relative;
	background-color: var(--color-black);
	padding: 0.3rem 0.4rem;
	border-radius: 1.5rem;
	width: 4.5rem;
	height: 2.2rem;
	cursor: pointer;
	transition: background-color var(--transition-timing);
}

.toggle__label::after {
	content: '';
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	display: block;
	background-color: var(--color-white);
	transition: background-color var(--transition-timing),
		translate var(--transition-timing);
}

.toggle__checkbox.checked + .toggle__label {
	background: var(--color-white);
}

.toggle__checkbox.checked + .toggle__label::after {
	translate: 2.1rem;
	background: var(--color-green);
}

.toggle__checkbox:is(:focus-visible) + .toggle__label {
	outline: 2px solid var(--color-text);
	outline-offset: 0.3rem;
	scale: 1.1;
}
