@import './mixins';

@media (max-width: 1000px) {
	html {
		font-size: 50%;
	}

	.container {
		display: grid;
		row-gap: 11rem;
		padding-inline: 4.8rem;
	}

	.header,
	.section {
		margin-bottom: 0;
	}

	.bio__pic-content::before {
		transform: translate(-6.3px, -2.5px);
	}

	.footer {
		margin-top: 11rem;
	}
}

@media (max-width: 800px) {
	.container {
		padding-inline: 2.4rem;
		row-gap: 8rem;
	}

	.section {
		grid-template-columns: 1fr;
	}

	.bio__pic-content {
		grid-row: 1;
		justify-self: center;
		margin-bottom: 4rem;
	}

	.bio__pic {
		margin-inline: auto;
	}

	.skills__list {
		justify-items: center;
		column-gap: 0;
	}

	.certificates {
		margin-top: 6.4rem;
	}

	.contact {
		row-gap: 6rem;
	}

	.contact__formContent {
		order: -1;
	}

	.footer {
		margin-top: 8rem;
	}
}

@media (max-width: 500px) {
	.bio__pic-content::before {
		transform: translate(-6.3px, -2.5px);
	}

	.bio__pic {
		max-width: 90%;
	}

	.header {
		padding: 0;
	}

	.header::before {
		z-index: 0;
		box-shadow: 11rem 0 0 0rem var(--color-background);
	}

	.burger-menu {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		z-index: 0;
		align-self: center;
		cursor: pointer;
	}

	.burger-menu__bar {
		height: 0.3rem;
		width: 4.375rem;
		background-color: var(--color-text);
		transition: var(--transition-timing);

		&:nth-child(1).hidden {
			transform: translateY(10px) rotate(40deg);
		}

		&:nth-child(2).hidden {
			@include hideElement();
		}

		&:nth-child(3).hidden {
			transform: translateY(-7px) rotate(-40deg);
		}
	}

	.navigation {
		position: absolute;
		padding: 3rem 0;
		width: 100%;
		top: 0;
		border-bottom: 0.1rem solid var(--color-text);
		z-index: -1;
		width: 100vw;
	}

	.navigation.active {
		top: 100%;
	}

	.navigation__list {
		justify-content: center;
	}

	.toggle {
		padding: 3rem 0;
		z-index: 1;
	}

	.h2-heading {
		font-size: var(--font-size-55);
	}
}

@media (max-width: 450px) {
	.bio__pic {
		max-width: 80%;
	}

	.bio__pic-content::before {
		height: 40rem;
	}

	.h3-heading {
		font-size: var(--font-size-30);
	}
}

@media (max-width: 400px) {
	html {
		font-size: 43.75%;
	}

	.bio__heading {
		font-size: var(--font-size-65);
	}

	.h2-heading {
		font-size: var(--font-size-50);
	}
}

@media (max-width: 350px) {
	html {
		font-size: 37.5%;
	}

	.bio__pic-content:before {
		transform: translate(-6px, -2.5px);
		height: 38rem;
	}
}
