---
const { projectName, projectDescription, imageSrc } = Astro.props;
---

<div class='accordion-panel'>
	<h2 id='panel1-heading'>
		<button
			class='accordion-trigger'
			aria-controls='panel1-content'
			aria-expanded='true'>
			<span class='accordion-title' id='panel1-title'>{projectName}</span>
			<svg aria-hidden='true' class='accordion-icon'>
				<!-- <use xlink:href='#boat'></use> -->
			</svg>
		</button>
	</h2>

	<div
		class='accordion-content'
		id='panel1-content'
		aria-labelledby='panel1-heading'
		aria-hidden='false'
		role='region'>
		<p>
			{projectDescription}
		</p>
		<img
			class='accordion-image'
			src={imageSrc}
			alt='A sailboat at sea during sunset'
		/>
	</div>
</div>
