---
import ProjectItem from './ProjectItem.astro';
import ActiveProjectItem from './ActiveProjectItem.astro';
import ProjectsWrapper from './ProjectsWrapper.astro';

// const PROJECTS_HTML_CSS = [
// 	{
// 		imageSrc: '/images/projects/omnifood.jpg',
// 		projectName: 'Omnifood',
// 		projectURL: 'https://omnifood-osama-elshimy.netlify.app/',
// 		codeURL: '',
// 	},
// 	{
// 		imageSrc: '/images/projects/appie.jpg',
// 		projectName: 'Appie',
// 		projectURL: 'https://appie-project.netlify.app/',
// 		codeURL: '',
// 	},
// 	{
// 		imageSrc: '/images/projects/quran-player.jpg',
// 		projectName: 'Quran Player',
// 		projectURL: 'https://quran-player-osama.netlify.app/',
// 		codeURL: '',
// 	},
// 	{
// 		imageSrc: '/images/projects/hangman-game.jpg',
// 		projectName: 'Hangman Game',
// 		projectURL: 'https://hangman-game-osama.netlify.app/',
// 		codeURL: '',
// 	},
// 	{
// 		imageSrc: '/images/projects/3-card-preview.jpg',
// 		projectName: '3 Card Preview',
// 		projectURL: 'https://card-component-osama-elshimy.netlify.app/',
// 		codeURL: '',
// 	},
// 	{
// 		imageSrc: '/images/projects/news-homepage.jpg',
// 		projectName: 'News Homepage',
// 		projectURL: 'https://news-homepage-osama-elshimy.netlify.app/',
// 		codeURL: '',
// 	},
// ];
---

<section id='projects' class='section projects'>
	<h2 class='h2-heading'>Projects</h2>

	<h3 class='h3-heading'>HTML & CSS</h3>

	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/omnifood.jpg'
			projectName='Omnifood'
			projectURL='https://omnifood-osama-elshimy.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/appie.jpg'
			projectName='Appie'
			projectURL='https://appie-project.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/quran-player.jpg'
			projectName='Quran Player'
			projectURL='https://quran-player-osama.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/hangman-game.jpg'
			projectName='Hangman Game'
			projectURL='https://hangman-game-osama.netlify.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/3-card-preview.jpg'
			projectName='3 Card Preview'
			projectURL='https://card-component-osama-elshimy.netlify.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/news-homepage.jpg'
			projectName='News Homepage'
			projectURL='https://news-homepage-osama-elshimy.netlify.app/'
			codeURL=''
		/>
	</ProjectsWrapper>

	<h3 class='h3-heading'>JavaScript</h3>

	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/forkify.jpg'
			projectName='Forkify'
			projectURL='https://forkify-osama.netlify.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/bankist-website.jpg'
			projectName='Bankist Website'
			projectURL='https://bankist-site-osama-elshimy.netlify.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/bankist.jpg'
			projectName='Bankist'
			projectURL='https://bankist-osama-elshimy.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/mapty.jpg'
			projectName='Mapty'
			projectURL='https://mapty-osama-elshimy.netlify.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/kanban-board.jpg'
			projectName='Kanban Board'
			projectURL='https://albonyan-board.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/custom-video-player.jpg'
			projectName='Custom Video Player'
			projectURL='https://custom-vidoe-player.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/meal-finder.jpg'
			projectName='Meal Finder'
			projectURL='https://meal-finder-osama.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/relaxer.jpg'
			projectName='Relaxer'
			projectURL='https://realxer.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/typing-game.jpg'
			projectName='Typing Game'
			projectURL='https://typing-game-osama.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/memory-cards.jpg'
			projectName='Memory Cards'
			projectURL='https://memory-cards-osama.netlify.app/'
			codeURL=''
		/>

		<!-- <ProjectItem
		imageSrc='/images/projects/pig-game.jpg'
		projectName='Pig Game'
			codeURL=""
	/> -->
	</ProjectsWrapper>

	<h3 class='h3-heading'>React</h3>
	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/next-meetups.jpg'
			projectName='Next Meetups'
			projectURL='https://next-meetups-sigma.vercel.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/your-car.jpg'
			projectName='YourCar'
			projectURL='https://yourcar-project.netlify.app/'
			codeURL=''
		/>
		<ProjectItem
			imageSrc='/images/projects/food-order.jpg'
			projectName='Food Order'
			projectURL='https://order-food-app-osama.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/react-products-site.jpg'
			projectName='Products App'
			projectURL='https://react-products-site.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/todo-app.jpg'
			projectName='Todo App'
			projectURL='https://react-typescript-todo-app-osama.netlify.app/'
			codeURL=''
		/>

		<ProjectItem
			imageSrc='/images/projects/expense-tracker.jpg'
			projectName='Expenses Tracker'
			projectURL='https://expense-tracker-osama.netlify.app/'
			codeURL=''
		/>
	</ProjectsWrapper>

	<h3 class='h3-heading'>Serverless Functions</h3>

	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/serverless-functions-site.jpg'
			projectName='Serverless Functions Site'
			projectURL='https://serverless-functions-site.netlify.app/'
			codeURL=''
		/>
	</ProjectsWrapper>
</section>
