---
import ProjectItem from './ProjectItem.astro';
import ActiveProjectItem from './ActiveProjectItem.astro';
import ProjectsWrapper from './ProjectsWrapper.astro';
---

<section id='projects' class='section projects'>
	<h2 class='h2-heading'>Projects</h2>

	<h3 class='h3-heading'>HTML & CSS</h3>

	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/omnifood.jpg'
			projectName='Omnifood'
			projectURL='https://omnifood-osama-elshimy.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Omnifood-Project'
		/>

		<ProjectItem
			imageSrc='/images/projects/appie.jpg'
			projectName='Appie'
			projectURL='https://appie-project.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Appie-Project'
		/>

		<ProjectItem
			imageSrc='/images/projects/quran-player.jpg'
			projectName='Quran Player'
			projectURL='https://quran-player-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/10-Audio-Player'
		/>

		<ProjectItem
			imageSrc='/images/projects/hangman-game.jpg'
			projectName='Hangman Game'
			projectURL='https://hangman-game-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/07-Hangman'
		/>
		<ProjectItem
			imageSrc='/images/projects/3-card-preview.jpg'
			projectName='3 Card Preview'
			projectURL='https://card-component-osama-elshimy.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/3-column-preview-card-component'
		/>
		<ProjectItem
			imageSrc='/images/projects/news-homepage.jpg'
			projectName='News Homepage'
			projectURL='https://news-homepage-osama-elshimy.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/news-homepage-main'
		/>
	</ProjectsWrapper>

	<h3 class='h3-heading'>JavaScript</h3>

	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/forkify.jpg'
			projectName='Forkify'
			projectURL='https://forkify-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Forkify'
		/>
		<ProjectItem
			imageSrc='/images/projects/bankist-website.jpg'
			projectName='Bankist Website'
			projectURL='https://bankist-site-osama-elshimy.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Bankist-Website'
		/>
		<ProjectItem
			imageSrc='/images/projects/bankist.jpg'
			projectName='Bankist'
			projectDescription='Use username: `oe` and password: `1111` to login.\nOr use username: `im` and password: `2222` insted.'
			projectURL='https://bankist-osama-elshimy.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Bankist-App'
		/>

		<ProjectItem
			imageSrc='/images/projects/mapty.jpg'
			projectName='Mapty'
			projectURL='https://mapty-osama-elshimy.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Mapty---Map-your-workouts'
		/>
		<ProjectItem
			imageSrc='/images/projects/kanban-board.jpg'
			projectName='Kanban Board'
			projectURL='https://albonyan-board.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/task-manager-website'
		/>

		<ProjectItem
			imageSrc='/images/projects/custom-video-player.jpg'
			projectName='Custom Video Player'
			projectURL='https://custom-vidoe-player.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/03-Custom-Video-Player'
		/>

		<ProjectItem
			imageSrc='/images/projects/meal-finder.jpg'
			projectName='Meal Finder'
			projectURL='https://meal-finder-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/08-Meal-Finder'
		/>

		<ProjectItem
			imageSrc='/images/projects/relaxer.jpg'
			projectName='Relaxer'
			projectURL='https://realxer.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/16-Relaxer'
		/>

		<ProjectItem
			imageSrc='/images/projects/break-out-game.png'
			projectName='Break Out Game'
			projectURL='https://breakout-game-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/17-Breakout'
		/>

		<ProjectItem
			imageSrc='/images/projects/typing-game.jpg'
			projectName='Typing Game'
			projectURL='https://typing-game-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/12-Type-Race'
		/>

		<ProjectItem
			imageSrc='/images/projects/memory-cards.jpg'
			projectName='Memory Cards'
			projectURL='https://memory-cards-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/03-Vanilla-Web-Projects/Projects/14-Memory-Cards'
		/>
	</ProjectsWrapper>

	<h3 class='h3-heading'>React</h3>
	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/next-meetups.jpg'
			projectName='Next Meetups'
			projectURL='https://next-meetups-sigma.vercel.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/15-S23-meetups-app'
		/>
		<ProjectItem
			imageSrc='/images/projects/your-car.jpg'
			projectName='YourCar'
			projectURL='https://yourcar-project.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/yourCar-project'
		/>
		<ProjectItem
			imageSrc='/images/projects/react-poster.jpg'
			projectName='React Poster'
			projectURL='https://react-poster.onrender.com/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/20-S29-react-poster'
		/>
		<ProjectItem
			imageSrc='/images/projects/react-events.jpg'
			projectName='React Events'
			projectURL='https://react-events.onrender.com/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/13-S21-events-app'
		/>
		<ProjectItem
			imageSrc='/images/projects/food-order.jpg'
			projectName='Food Order'
			projectURL='https://order-food-app-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/05-order-food-app/S17-project'
		/>

		<ProjectItem
			imageSrc='/images/projects/react-products-site.jpg'
			projectName='Products App'
			projectURL='https://react-products-site.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/17-S25-Products-app'
		/>

		<ProjectItem
			imageSrc='/images/projects/expense-tracker.jpg'
			projectName='Expenses Tracker'
			projectURL='https://expense-tracker-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/01-Expenses-app/S05-project'
		/>

		<ProjectItem
			imageSrc='/images/projects/redux-cart.jpg'
			projectName='Redux Cart'
			projectURL='https://redux-cart-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/12-S19-redux-cart'
		/>

		<ProjectItem
			imageSrc='/images/projects/movies-app.jpg'
			projectName='Movies App'
			projectURL='https://movies-app-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/08-S14-movies-app'
		/>

		<ProjectItem
			imageSrc='/images/projects/goals-app.png'
			projectName='Goals App'
			projectURL='https://goals-app-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/02-goals-app/S07-project'
		/>

		<ProjectItem
			imageSrc='/images/projects/todo-app.jpg'
			projectName='Todo App'
			projectURL='https://react-typescript-todo-app-osama.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/04-Reactjs-Maximilian/Projects/18-S27-todo-app-TS'
		/>
	</ProjectsWrapper>

	<h3 class='h3-heading'>MERN Stack</h3>
	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/jobify.jpg'
			projectName='Jobify - Track your job applications'
			projectURL='https://jobify-vcx2.onrender.com/'
			codeURL='https://github.com/Osama-Elshimy/jobify-project'
		/>
		<ActiveProjectItem
			imageSrc='/images/projects/your-notes.jpg'
			projectName='Notes App'
			projectURL='https://your-notes-lo50.onrender.com/'
			codeURL='https://github.com/Osama-Elshimy/your-notes-project'
		/>
		<ProjectItem
			imageSrc='/images/projects/node-shop.jpg'
			projectName='Node Shop'
			projectURL='https://node-shop-whzv.onrender.com/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/05-Nodejs-Maximilian/Projects/01-Shop'
		/>
		<ProjectItem
			imageSrc='/images/projects/social-feed.jpg'
			projectName='Social Feed'
			projectURL='https://social-feed-3zdv.onrender.com/'
			codeURL='https://github.com/Osama-Elshimy/Kalbonyan-Elmarsos/tree/main/02-Udemy/05-Nodejs-Maximilian/Projects/02-Social-Feed'
		/>
	</ProjectsWrapper>

	<h3 class='h3-heading'>Serverless Functions</h3>

	<ProjectsWrapper>
		<ActiveProjectItem
			imageSrc='/images/projects/serverless-functions-site.jpg'
			projectName='Serverless Functions with Vanilla JS'
			projectURL='https://serverless-functions-site.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/serverless-functions-js'
		/>
		<ActiveProjectItem
			imageSrc='/images/projects/serverless-react.jpg'
			projectName='Serverless Functions with React'
			projectURL='https://serverless-functions-site-react.netlify.app/'
			codeURL='https://github.com/Osama-Elshimy/serverless-functions-react'
		/>
	</ProjectsWrapper>
</section>
