<section id='alx' class='alx section'>
	<ul>
		<li>
			<a href='https://www.youtube.com/watch?v=iNBwSN0tqes' target='_blank'
				>Team Video</a
			>
		</li>
		<li>
			<a
				href='https://drive.google.com/file/d/1dvimJEnsKAgPrHyl8pneyen3k2YrCb0o/view?usp=sharing'
				target='_blank'>Team Slides</a
			>
		</li>
		<li>Elevator Pitch || Coming Soon...</li>
	</ul>
</section>

<style>
	section {
		display: flex;
		justify-content: center;
	}

	ul {
		display: flex;
		gap: 6.4rem;
		justify-content: space-between;
		align-items: center;
	}

	ul > * {
		font-size: 3rem;
	}

	li:last-of-type {
		font-weight: var(--font-weight-semi-bold);
	}

	a:is(:link, :visited) {
		transition: all var(--transition-timing);
	}

	a:is(:hover, :active, :focus-visible) {
		color: var(--color-green);
	}
</style>
