<section id='alx' class='alx section'>
	<ul>
		<li>
			<a href='https://www.youtube.com/watch?v=iNBwSN0tqes' target='_blank'
				>Team Video</a
			>
		</li>
		<li>
			<a
				href='https://drive.google.com/file/d/1dvimJEnsKAgPrHyl8pneyen3k2YrCb0o/view?usp=sharing'
				target='_blank'>Team Slides</a
			>
		</li>
	</ul>

	<video controls>
		<source src='public/elevator-pitch.mp4' type='video/mp4' />
	</video>
</section>

<style>
	.alx {
		grid-template-columns: 1fr;
		place-items: center;
		row-gap: 6.4rem;
	}
	ul {
		display: flex;
		gap: 6.4rem;
		justify-content: space-between;
		align-items: center;
		margin-inline: auto;
	}

	ul > * {
		font-size: var(--font-size-30);
	}

	a:is(:link, :visited) {
		transition: all var(--transition-timing);
	}

	a:is(:hover, :active, :focus-visible) {
		color: var(--color-green);
	}

	video {
		max-width: 100%;
	}
</style>
