<section id='bio' class='bio section'>
	<div class='bio__data'>
		<h1 class='bio__heading'>Hi There, I'm A Passionate Software Developer</h1>
		<p class='bio__objective'>
			My name is <strong class='bio__name'>Osama Elshimy</strong>. I'm a full
			stack MERN developer focused on creating engaging web applications. With
			expertise in front-end and back-end development, I bring a holistic
			approach to building user-friendly experiences. Let's collaborate to bring
			your ideas to life online.
		</p>

		<div class='bio__btns'>
			<a href='#contact' class='bio__links say-hi-link'>Say Hi</a>

			<a
				href='https://docs.google.com/document/d/1nLJpec5yNEuHN1Cqu0GSKtAjpifn3Lj3LemfCucLdRg/edit#'
				target='_blank'
				class='bio__links find-out-link'
				>Download CV <span class='bio__arrow'>↓</span></a
			>
		</div>
	</div>
	<div class='bio__pic-content'>
		<picture class='bio__pic'>
			<source srcset='/images/personal-pic.webp' type='image/webp' />
			<img src='/images/personal-pic.png' alt='Image of Osama Elshimy' />
		</picture>
	</div>
</section>
